header{
	color: #b30000;
	text-align: center;
	font-size: 6em;
	font-family: 'Alex Brush',serif;
	word-spacing: 10px;
	width: 100%;
}

header img{
	width: 8%;
	transition: transform 4s,width 4s;
}

#lego{
	position: absolute;
}

header img:hover{
	transform: rotate(360deg) translate(20px,10px);
}

nav{
	font-family: 'Arizonia';
	text-align: center;
	font-size: 2em;
	color: #b30000;
	word-spacing: 10px;
	position: sticky;
	top: 0;	
	width: 100%;	
	background-color: lightblue;
	padding-top: 1px;
}

li>ul{
	display: none;
	position: absolute;
}

li:hover ul{
	display: block;
	visibility: visible;
	background-color: lightblue;
	text-decoration: none;
	text-align: center;
}

nav>ul>li>ul>li>a {
	text-decoration: none;
}

nav>ul>li
{
	display: inline-block;
	float: none;
	vertical-align: top;	
	margin-right: 70px;
	text-align: center;
}

table,th,td{
	text-align: center;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 8px;
}

table{
	display: inline-block;
}

tr:nth-child(odd) {
    background-color: white;
}

iframe{
	position: relative;
	width: 60%;
	height: 290px;
}

h1,h2,h3,h4,h5,h6,figcaption{
	font-family: 'Arizonia';
	text-indent: 20px;
	font-weight: 1000;	
	font-size: 2.00em;
}

h2,figcaption{
	font-size: 1.875em;
	text-align: center;
	text-indent: 50px;}

h3{
	font-size: 1.8em;}

h4{
	font-size: 1.75em;}

h5,h6{
	font-size: 1.625em;
}

body{
	background-color: lightblue;
	text-align: justify;
	font-style: bolder;
	font-size: 1.125em;
	font-weight: 900;
	padding: 20px;
	border: 10px;
}

#gallery {
	display: flex;
	/*flex-direction: row;
	flex-wrap: wrap;*/
	flex-flow: row wrap;
	padding: 0;
	justify-content: space-evenly;
	align-content: center;
}

.item { 
	width: 18%;
	flex-shrink: 1;
	flex-grow: 1;
	padding: 0;
	align-self: center;
	border: 0.10em solid green;
}

.item:nth-child(4){ flex-grow: 0; }

figure:hover{
	margin: 1%;
	width: 23%;
}

.imgf {
	width: 100%;
	height: auto;}

.anim{
	/*background-color: yellow;*/
	padding: 0;
	text-align: center;
	/*width: 30%;
	animation-name: animatie;
	animation-duration: 6s;
	animation-iteration-count: 3;*/
}

#palat1{
	width: 30%;
	height: 300px;
	position: relative;
	left: 60px;
	z-index: 1;
}
#palat2{
	width:30%;
	height: 290px;
	position: relative;
	left: 420px;
	z-index: 2;
}
#palat3{
	width:30%;
	height: 280px;
	position: relative;
	right: 350px;
	z-index: 3;
}

.da{
	background-color: #6495ED;
}

.nu{
	color: #b30000;
}

#buton{
	color: brown;
}

#drag1{
	width: 300px;
  	height: 300px;
  	position: absolute;
  	
}
#drop1{
	width: 300px;
	height: 300px;
	border: 2px blue dotted;	
	position: absolute;
	left:500px;
	
}
@keyframes animatie{
	10%{ background-color: orange; width: 35%; }

	30%{ background-color: green; width: 40%;}

	50%{ background-color: blue; width: 60%;}
 
	70%{ background-color: red; width: 80%;}
 
	100%{background-color: lightblue; width: 100%;}
}

span{
	color:#b30000;
	font-family: 'Alex Brush', bolder;
	font-style: bold;
	font-size: 1.5625em;
}

p.om:nth-of-type(2n+1){
	text-indent: 50px;
	font-weight: 1000;
}

p.om:nth-of-type(even){
	text-indent: 50px;
	font-weight: 1000;
	word-spacing: 8px;
	text-indent: 50px;
}

p:nth-last-child(2) {
    font-weight: 1200;
    text-indent: 50px;
    font-size: 1.125em;
} 

#important
{
	text-decoration: underline;
}

img.imagine{
		width: 150px;
		max-width: 100%;
		margin-left: auto;
    	margin-right: auto;
    	display: block;
}

#veneto{
	padding: 20px;
	font-family: 'Indie Flower',serif;
	text-align: justify;
}

#chestio{
	text-align: center;
}

.in{
	text-align: center;
}

#luigi{
	width:30%;
	height: auto;
	float: right;
	margin:8px; 
}
#last_paragraph{
	text-align: center;
}

@media screen and (max-width:1250px)
{
	body{
		padding-left: 50px;
		padding-right: none; 
	}
	nav>ul>li
    {
    	float: none;
    	width: 100%;
    }
 
	li:hover ul
	{
		padding-right: 40%;
		padding-left: 40%;
	}	
}

@media screen and (max-width: 700px) {
    body {
        background-color: white;
        color: blue;
    }
    nav>ul>li
    {
    	float: none;
    	width: 100%;
    }
      
	li:hover ul
	{
		background: white;
	}
}
